/* レスポンシブ用SCSS*/
$breakpoints: (
    'sp': 'screen and (max-width: 480px)',
    'tab': 'screen and (max-width: 768px)',
    'pc': 'screen and (max-width: 1024px)',
    ) !default;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* 共通部品 */
html {
    font-family: "Zen Kaku Gothic New",
        sans-serif;
    color: #382710;
    background-color: #fcfaf2;
    line-height: 1.5;
    letter-spacing: 0.08em;
}



.section-wrapper {
    margin-top: 80px;
    margin-left: 100px;

    @media (max-width: 1024px) {
        margin: 100px;
    }

    @media (max-width: 768px) {
        margin: 15px;
    }
}

.side-section-wrapper {
    margin-top: 80px;
    margin-right: 100px;

    @media (max-width: 1024px) {
        margin: 100px;
    }

    @media (max-width: 768px) {
        margin: 15px;
    } 
}


.news-img-large {
    max-width: 640px; 
}

.contents-title {
    font-size: 32px;
    margin-bottom: 5px;

    @media (max-width: 768px) {
        font-size: 24px;
        margin-top: 40px;
    }
}

/* 個別部品 */
.page-wrapper {
    background-color: #fcfaf2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }
}


.header-logo {
    @media (max-width: 768px) {
        display: block;
        margin: 15px 30px;
    }
}

.header-logo img {
    @media (max-width: 768px) {
        max-width: 120px;
    }
}

.header-nav {
    @media (max-width: 768px) {
        background-color: #f4eed8;
        width: 100%;
    }
}

.header-navList {
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.header-navwrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
}

.first-view {
    max-width: 100%;
    height: 70vh;
    background-image: url(../image/firstView-pc.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        height: 40vh;
        background-image: url(./image/firstView-pc.png);
        background-position: canter top;
    }

    @media (max-width: 480px) {
        background-image: url(./image/firstView-sp.png);
    }

}

.fv-box {
    background-color: rgba(255, 255, 255, 0.9
    );
padding: 10px 40px;
text-align: center;

@media (max-width: 768px) {
    padding: 10px 20px;
}
}

.fv-text {
    font-size: 40px;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.news-card-large {
    max-width: 640px;
}

.news-img-large img {
    margin-top: 35px;
    max-width: 640px;
    margin-bottom: 10px;

    @media (max-width: 480px) {
        max-width: 100%;
    }
}

.news-date {
    font-size: 14px;
}

.news-bodyTitle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 6px;
}

.news-bodyText {
    font-size: 15px;
    letter-spacing: 0.06em;

    @media(max-width: 768px) {
        margin-bottom: 30px;
    }

    @media(max-width: 480px) {
        margin-bottom: 20px;
    }
}

.news-card-small{
    @media (max-width: 768px) {
        width: 50%;
    }
}

.news-img-small img {
    margin-top: 40px;
    max-width: 350px;
    margin-bottom: 10px;

    @media (max-width: 1024px) {
        max-width: 400px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }

    @media (max-width: 480px) {
        max-width: 100%;
        margin-top: 10px;
    }
}


.news-card-small-wrap {
    display: flex;
    gap: 24px;

    @media (max-width: 768px) {
        max-width: 100%;
    }

    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}


.news-more {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.content_wrapper{
    max-width: 1280px;
    margin: 0 100px;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
    

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 0;
    }

}

.main-contents {
    flex: 2;

    @media (max-width: 768px) {
        flex: none;
    }
}

.side-contents {
    flex: 1;

    @media (max-width: 768px) {
        flex: none;
    }
}

.view-more {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.side-contents-subTitle {
    font-size: 15px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*横に2列、幅は同じ*/
    gap: 4px;
}


.category-item a {
    display: block;
    padding: 10px 6px;
    border: 0.5px solid #d8cfc0;
    border-radius: 5px;
    text-align: center;
    color: #382710;
}

.category-img {
    width: 100%;
}

.category-name {
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
}

.seach-box {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5px solid #d8cfc0;
    border-radius: 3px;
}

.search-input {
    flex: 1;
    /*inputが残りの幅いっぱいに広がる*/
    padding: 10px 14px;
    background-color: #fff;
}

.search-btn {
    padding: 0 10px;
    background: #fff2bf;
}

.category-searchImg {
    width: 100%;
}

.popular {
    margin-top: 40px;
}

.article-link {
    display: flex;
    border-bottom: 0.5px solid #ece6dc;
    padding-top: 14px;
    padding-bottom: 14px;
}

.article-link:first-child {
    border-top: 0.5px solid #ece6dc;
}

.article-list {
    font-size: 14px;

    @media(max-width: 480px) {
        font-size: 15px;
        margin-top: 20px;
    }
}



.article-text {
    font-size: 14px;
    margin-left: 14px;

    @media(max-width: 480px) {
        font-size: 15px;
    }
}


.post {
    margin-top: 40px;
}

.fb-logo {
    position: relative;
    padding-left: 50px;
}

.fb-logo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-image: url(./image/facebook.png);
    background-size: contain;
    transform: translateY(-50%);
}

.footer {
    background-color: #fff;
    padding: 40px 140px;

    @media (max-width: 1024px) {
        padding: 30px 50px;
    }

    @media (max-width: 768px) {
        padding: 40px 30px;
    }
}

.footer-inner {
    display: flex;
    gap: 150px;

    @media (max-width: 1024px) {
        gap: 80px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-title span {
    border-bottom: 0.5px solid #b2572f;
    padding-bottom: 4px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-infoText {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.footer-info {
    @media (max-width: 768px) {
        order: 1;
    }
}

.footer-nav {
    @media (max-width: 768px) {
        order: 2;
    }
}

.footer-brand {
    @media (max-width: 768px) {
        order: 3;
    }
}

img {
    max-width: 100%;
    height: auto;
}

