@charset "UTF-8";
/*******************************
Webサイト全体の指定
*******************************/
html {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

/*******************************
変数の指定
*******************************/
/*******************************
共通部品
*******************************/
.u-container {
  max-width: 1080px;
  padding: 80px 40px;
  margin: 0 auto;
}

.u-sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #83776a;
  margin-bottom: 64px;
}

.section-titleEn {
  font-family: Noto Serif JP;
  font-size: 32px;
  font-weight: bold;
}

.section-titleJp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83776a;
}

.section-titleJp::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 1px;
  background-color: #83776a;
  margin-right: 10px;
}

.u-button {
  display: inline-block; /*幅、高さ、余白を作るため*/
  padding: 10px 50px;
  border: 1px solid #83776a; /*ボタン外側の線*/
  color: #83776a;
  background-color: #fff;
  letter-spacing: 0.1em;
  position: relative; /*疑似要素::afterの位置の基準*/
  font-size: 14px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
  /*ホバー時の変化の前後どちらも色の変化を適用するため親に書く*/
}

.u-button:hover {
  background-color: #83776a;
  color: #fff;
}

.u-button::after {
  content: "";
  position: absolute; /*一番近い親＝ボタンを基準に動かす*/
  top: 50%; /*ボタンの高さの半分に移動*/
  left: 100%; /*線の出発点をボタンの左側に→transformで線の半分だけボタンの中に入れるための基準*/
  width: 70px;
  height: 1.5px;
  background-color: #83776a;
  color: #fff;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); /*高さをボタンの中央 線の横半分をボタンの中に入れる*/
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; /*0.2秒かけてtranslate-35%へゆっくり移動*/
}

.u-button:hover::after {
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%); /*線がスライドする横幅,スライド時の縦方向も中央*/
}

/*******************************
個別部品
*******************************/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header-inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logoLink {
  max-width: 100%;
  display: inline-block;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header-navList {
  font-family: Noto Serif JP;
  font-weight: bold;
  color: #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-navList:hover {
  opacity: 0.7;
}

.firstView {
  padding: 300px 0;
  margin-left: 280px;
  background-image: url("../image/fv.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.firstview-title {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #83776a;
  bottom: 80px;
  left: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstview-titleText {
  font-family: Noto Serif JP;
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83776a;
}

.concept-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.section-text {
  margin-bottom: 40px;
}