@charset "UTF-8";
/*******************************
Webサイト全体の指定
*******************************/
html {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  letter-spacing: 0.08em;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

/*******************************
変数の指定
*******************************/
/*******************************
共通部品
*******************************/
.u-container {
  max-width: 1080px;
  padding: 80px 40px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .u-container {
    max-width: 390px;
    padding: 80px 20px;
  }
}

.u-sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #83776a;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .u-sectionTitle {
    margin-bottom: 40px;
  }
}

.section-titleEn {
  font-family: Noto Serif JP;
  font-size: 32px;
  font-weight: bold;
}

.section-titleJp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83776a;
}

.section-titleJp::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 1px;
  background-color: #83776a;
  margin-right: 10px;
}

.u-button {
  display: inline-block;
  /*幅、高さ、余白を作るため*/
  padding: 10px 40px;
  border: 1px solid #83776a;
  /*ボタン外側の線*/
  color: #83776a;
  background-color: #fff;
  letter-spacing: 0.1em;
  position: relative;
  /*疑似要素::afterの位置の基準*/
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
  /*ホバー時の変化の前後どちらも色の変化を適用するため親に書く*/
}
@media screen and (max-width: 768px) {
  .u-button {
    display: block;
    margin: 0 auto;
  }
}

.u-button:hover {
  background-color: #83776a;
  color: #fff;
}

.u-button::after {
  content: "";
  position: absolute;
  /*一番近い親＝ボタンを基準に動かす*/
  top: 50%;
  /*ボタンの高さの半分に移動*/
  left: 100%;
  /*線の出発点をボタンの左側に→transformで線の半分だけボタンの中に入れるための基準*/
  width: 70px;
  height: 1.5px;
  background-color: #83776a;
  color: #fff;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  /*高さをボタンの中央 線の横半分をボタンの中に入れる*/
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  /*0.2秒かけてtranslate-35%へゆっくり移動*/
}

.u-button:hover::after {
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  /*線がスライドする横幅,スライド時の縦方向も中央*/
}

/*******************************
個別部品
*******************************/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header-inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header-inner {
    padding: 16px 20px;
  }
}

.header-logoLink {
  max-width: 100%;
  display: inline-block;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .header-nav {
    gap: 24px;
  }
}

.header-navList {
  font-family: Noto Serif JP;
  font-weight: bold;
  color: #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-navList:hover {
  opacity: 0.7;
}

.main {
  margin-top: 80px;
}

.firstView {
  padding: 300px 0;
  margin-left: 280px;
  background-image: url("../image/fv.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
}
@media screen and (max-width: 768px) {
  .firstView {
    margin-left: 0;
  }
}

.firstview-title {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #83776a;
  bottom: 80px;
  left: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .firstview-title {
    height: 200px;
    width: 200px;
    right: 0;
    left: 0;
    top: 100px;
    bottom: auto;
    margin: 0 auto;
  }
}

.firstview-titleText {
  font-family: Noto Serif JP;
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83776a;
}
@media screen and (max-width: 768px) {
  .firstview-titleText {
    font-size: 24px;
  }
}

.concept-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .concept-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.section-text {
  margin-bottom: 40px;
}

.menu {
  background-color: #f9f5ed;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 390px;
  }
}

.menu-item {
  position: relative;
  /*画像の内側にナンバーを入れるための位置基準*/
}

.menu-item:nth-child(2) {
  margin-top: 40px;
  /*2個目のメニューを上から50px下げる*/
}
@media screen and (max-width: 768px) {
  .menu-item:nth-child(2) {
    margin-top: 0;
  }
}

.menu-item:nth-child(3) {
  margin-top: 80px;
  /*3個目のメニューを上から100px下げる*/
}
@media screen and (max-width: 768px) {
  .menu-item:nth-child(3) {
    margin-top: 0;
  }
}

.menu-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.menu-number {
  position: absolute;
  /*一番近い親＝menu-imgを基準に動かす*/
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  /*背景を半透明にする*/
  padding: 5px 10px;
  font-size: 32px;
  font-weight: bold;
  color: #83776a;
  font-family: Noto Serif JP;
}

.menu-title {
  margin-top: 20px;
  letter-spacing: 0.1em;
}

.menu-price {
  font-family: Noto Serif JP;
  font-weight: bold;
  color: #83776a;
}

.u-button-center {
  display: block;
  margin: 0 auto;
}

.fixed-bg {
  height: 500px;
  background-image: url("../image/fixed_bg.png");
  background-size: cover;
  /* 画面いっぱいに表示 */
  background-position: center;
  background-attachment: fixed;
  /* 背景画像を固定する */
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .fixed-bg {
    height: 350px;
    background-attachment: scroll;
  }
}

.shop-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .shop-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.shop-title {
  color: #83776a;
  font-family: Noto Serif JP;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  gap: 16px;
  border-bottom: 1px solid #ccc;
  width: 450px;
}

.shop-infoTitle {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

@media screen and (max-width: 768px) {
  .shop-description {
    max-width: 390px;
  }
}

.reserve-btn {
  position: fixed;
  /* 画面に固定 */
  right: 0px;
  /* 画面右に移動 */
  bottom: 60px;
}

.reserve-btn-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #f9f5ed;
}

.footer-inner {
  text-align: center;
}
.footer-logo {
  max-width: 100%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .footer-nav {
    gap: 15px;
  }
}

.footer-navList {
  font-family: Noto Serif JP;
  font-weight: bold;
  color: #83776a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-navList:hover {
  opacity: 0.7;
}

.footer-copylight {
  color: #83776a;
  font-size: 14px;
  padding-bottom: 40px;
}